﻿form {
    border: 5px dashed black;
    padding: 20px 20px 20px 20px;
    width: 850px;
    margin: auto;
    background-color: white;
}
button {
    text-align: center;
    margin: auto;
    align-content: center;
}
label {
    color: black;
}
input{
    border:solid 1px black;
}
.bg-color {
    background-color: #283747;
}
h1{
    text-align:center;
    color:whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.card-title {
    text-align: center;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
