﻿input {
    width: 200px;
    margin: 10px;
    box-sizing: border-box;
    border: 3px solid #26635A;
    
}
input [type=text]:focus 
{
        background-color: #D3FFF8;
    }
    input[type=radio] {
        width: auto;
        //display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
textarea {
    border: 3px solid #26635A;
    margin: 10px;
    box-sizing:border-box;
    width: 200px;
}
select {
    border: 3px solid #26635A;
    width: 200px;
    margin: 10px;
    box-sizing: border-box;
    
}
radio-item {
    text-align:center;
    display:inline-block;
    border: 3px solid #26635A;
    width:100px;
}


label{
    display: inline-block;
    width: 250px;
    text-align: right;
}
.container {
    text-align: center;
    margin-left:200px;
}
.containertwo{
    text-align:center;
}
.heading{
    font:bold 50px caption large;
}
    