@{
    ViewData["Title"] = "Home Page";
}

@model List<WebApplication1.Models.Student>

<div class="row">
    <div class="col-lg-6 mx-auto">
        <h1 class="text-center text-info mb-4">Registration form</h1>
        <div class="card">
            <div class="card-body">
                <form action="" name="myForm" onsubmit="return validateForm()">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="firstName">
                        <span class="text-danger" id="fnameerror"></span>
                    </div>

                    <div class="form-group">
                        <label>Middle Name</label>
                        <input class="form-control" type="text" name="middleName" maxlength="25">
                        <span class="text-danger" id="mnameerror"></span>
                    </div>

                    <div class="form-group">
                        <label>Last Name</label> <br />
                        <input class="form-control" type="text" name="lastName" maxlength="50">
                        <span class="text-danger" id="lnameerror"></span>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
                        <span class="text-danger" id="emailerror"></span>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" onfocusout="validatePassword()" name="password" aria-describedby="emailHelp">
                        <span class="text-danger" id="passworderror"></span>
                    </div>

                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" name="confirmPassword" onfocusout="validateConfirmPassword()" aria-describedby="emailHelp">
                        <span class="text-danger" id="confirmpassworderror"></span>
                        <span class="text-danger" id="samepassworderror"></span>
                    </div>

                    <div class="form-group">
                        <label>Mobile Number</label>
                        <input class="form-control" type="number" pattern="[0-9] {10}" name="mobile" maxlength="10">
                        <span class="text-danger" id="mobileerror"></span>
                    </div>

                    <div class="form-group">
                        <label>State</label>
                        <input class="form-control" type="text" name="state" maxlength="100">
                        <span class="text-danger" id="stateerror"></span>
                    </div>

                    <div class="form-group">
                        <label>City</label>
                        <input class="form-control" type="text" name="city" maxlength="10">
                        <span class="text-danger" id="cityerror"></span>
                    </div>

                    <div>
                        <label>Gender</label> <br />
                        <input type="radio" id="male" name="gender" value="male">
                        <label>Male</label><br>
                        <input type="radio" id="female" name="gender" value="female">
                        <label>Female</label><br>
                        <input type="radio" id="other" name="gender" value="other">
                        <label>Other</label> <br /> <br />
                    </div>

                    <div class="form-group">
                        <label>Higher Education</label> <br />
                        <select class="form-control" name="higherEducation">
                            <option value="none">Select</option>
                            <option>High School</option>
                            <option>Intermediate</option>
                            <option>Graduate</option>
                            <option>Post Graduate</option>
                            <option>Doctarate</option>
                            <option>Post Docs</option>
                        </select>
                        <span class="text-danger" id="highereducationerror"></span>
                    </div>

                    <input type="radio">
                    <label>Subscribe for email</label> <br /> <br />

                    <div class="form-group">
                        <label>Address</label> <br />
                        <textarea class="form-control" name="address" rows="10" cols="40"></textarea> <br /> <br />
                        <span class="text-danger" id="addresserror"></span>
                    </div>

                    <div class="text-center">
                        <button class="btn-success p-1" type="submit" onclick="handleSubmit()">Submit</button> &nbsp;
                        <button class="btn-danger p-1" type="reset">Reset</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

<br/>
<br />
<br />
<br />
<br />
<br />

<div>
  <div class="col-lg-10 mx-auto">
  <h1 class="text-center text-success">Dashboard</h1> <br/><br /><br/><br /><br />


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">State</th>
      <th scope="col">City</th>
      <th scope="col">Contact</th>
      <th scope="col">Address</th>
      <th scope="col">Action</th>
      <th scope="col">Action</th>
    </tr>


      @foreach(var data in Model)
      {
  <tr>
      <td>@data.id</td>
      <td>@data.firstName</td>
      <td>@data.lastName</td>
      <td>@data.email</td>
      <td>@data.state</td>
      <td>@data.city</td>
      <td>@data.mobile</td>
      <td>@data.address</td>
      <td> <button class="btn-success" >Edit</button> </td>
      <td> <button class="btn-danger" >Delete</button> </td>


  </tr> 
      }
  </thead>
  <tbody>

   
  </tbody>
</table></div>

     </div>