﻿form {
    
    border: 1px solid;
    padding: 10px 10px 10px 10px;
    width: 500px;
    
    margin: auto;
    background-color:white;
}

h1 {
    text-align: center;
    color: #119B85;
}
.bg-color {
    background-color: #C5FAF1;
}
button{
    text-align:center;
    margin:auto;
    align-content:center;
}