﻿form {
    border: .5px solid black;
    padding: 10px 10px 10px 10px;
    width: 500px;
    margin: auto;
    background-color: white;
}

h1 {
    text-align: center;
    color: #119B85;
}

.bg-color {
    background-color: #F3FCFB;
}

button {
    text-align: center;
    margin: auto;
    align-content: center;
}
label{
    
    color: black;
}

