﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{ 
    ViewData["Title"] = "Registration Home Page";    // Some text is coming in front of it
}

<body>
    <table>
        <tr>
            <td>
                <form onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off">
                    <div>
                        <!--HTML HELPER  NAME VALE MAI CHAL NHI RHA HAI-->
                        <label>Full Name*</label>    
                        <label class="validation-error hide" id="fullNameValidationError">This field is required.</label>
                       
                        <input type="text" name="fullName" id="fullName">
                    </div>
                    <div>
                        @Html.Label("Emp Code")
                        @Html.TextBox("empCode","")
                        
                    </div>
                    <div>
                        @Html.Label("Salary")
                        @Html.TextBox("salary","")
                       
                    </div>
                    <div>
                        @Html.Label("City")
                        @Html.TextBox("city","")
                       
                    </div>
                    
                   
                    <div class="form-action-buttons">

                        <button type="submit" value="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </td>
            <td>
                <table class="list" id="employeeList">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>EMP Code</th>
                            <th>Salary</th>
                            <th>City</th>
                            
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    <script src="script.js"></script>
</body>

