﻿<html>

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>
        Html CRUD with Pure JavaScript
    </title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <table>
        <tr>
            <td>
                <form onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off">
                    <div>
                        <label>Full Name*</label><label class="validation-error hide" id="fullNameValidationError">This field is required.</label>
                        <input type="text" name="fullName" id="fullName">
                    </div>
                    <div>
                        <label>Roll-No</label>
                        <input type="text" name="rollno" id="rollno">
                    </div>
                    <div>
                        <label>Address</label>
                        <input type="text" name="address" id="address">
                    </div>
                    <div>
                        <label>Email</label>
                        <input type="text" name="email" id="email">
                    </div>

                    <div class="form-action-buttons">

                        <button type="submit" value="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </td>
            <td>
                <table class="list" id="employeeList">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Roll No</th>
                            <th>Address</th>
                            <th>Email</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    <script src="script.js"></script>
</body>

</html>


    @*<table name="studentTable" id="studentTable">
        <tr>
            <td>Name</td>
            <th>Roll</th>
            <th>Address</th>
            <th>Email</th>
        </tr>
    </table>*@
    @foreach (var std in Model)
    {

        <label>@std.name</label>
        <label>@std.rollno</label>
        <label>@std.address</label>
        <label>@std.email</label><br />
    }




