﻿@model Calculator.Models.Calc
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<h2 id="idnoone">Simple Calculator Using Mvc </h2>




<div class="box">
    <form method="post">
       

        <div class="form-group col-md-2">
            <label asp-for="FirstNumber" class="blackLabel">First Value</label>
            <input type="text" asp-for="FirstNumber" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label asp-for="SecondNumber" class="blackLabel"></label>
            <input asp-for="SecondNumber" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Total" class="blackLabel">Total Value</label>
            <label asp-for="Total" class="form-control"> @Model.Total</label>
            </div>
            
        <button type="submit" id="add" value="add" class="btn btn-success" name="cal">Addition(+)</button>
            <button type="submit" id="sub" value="sub" class="btn btn-danger" name="cal">Subtraction(-)</button>
            <button type="submit" id="mul" value="mul" class="btn btn-warning" name="cal">Multiplication(*)</button>
            <button type="submit" id="div" value="div" class="btn btn-info" name="cal">Division(/)</button>

      
    </form>
    </div>


