﻿
@import "http://fonts.googleapis.com/css?family=Raleway";
/* Above line is used for online google font */
h2 {
    background-color: #FEFFED;
    padding: 30px 35px;
    margin: -10px -50px;
    text-align: center;
    border-radius: 10px 10px 0 0
}

span {
    display: block;
    margin-top: 10px;
    color: red
}

hr {
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-bottom: 25px
}

div.container {
    width: 900px;
    height: 610px;
    margin: 35px auto;
    font-family: 'Raleway',sans-serif
}

div.main {
    width: 306px;
    padding: 10px 50px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    float: left
}

input[type=text] {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px
}

input[type=radio] {
    margin: 10px 10px 0
}

label {
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: 700
}

input[type=submit] {
    font-size: 16px;
    background: linear-gradient(#ffbc00 5%,#ffdd7f 100%);
    border: 1px solid #e5a900;
    color: #4E4D4B;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline: none
}

    input[type=submit]:hover {
        background: linear-gradient(#ffdd7f 5%,#ffbc00 100%)
    }
